<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>AngularJS Calendar</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<h1>Calendar</h1>
			<div class="row">
				<div class="col-md-12" ng-controller="Ctrl">
					<table class="table table-striped">
						<thead>
							<tr>
								<td ng-repeat="day in days">{{ day.substr(0,2) }}</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="week in weeks">
								<td ng-repeat="day in days">{{ days.indexOf(day) }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>
		<script type="text/javascript">
			var app = angular.module('app', []);
			app.controller('Ctrl', function($scope) {
				var self = this;
				$scope.days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
				$scope.weeks = [1,2,3,4,5];
				
				var init = function(startMonth, startYear){
					var outputFormat = "MM-DD-YYYY";
					var now = moment();
					console.log('current date is %s', moment().format(outputFormat));
					//construct first date object
					var start = moment({ y:startYear, M:startMonth - 1, d:1 });
					//work out day offset from sunday
					var startOffset = start.day();
					//use offset to start loop part way in first row
					$scope.startDay = $scope.days[startOffset];
					console.log('starting calendar on %s',start.format(outputFormat));
					console.log('startOffset:%i day is %s',startOffset, $scope.startDay);
					
					var day = 1;
					var weekCount = 6;
					var totalCells = weekCount * 7;
					var weeks = new Array(weekCount);
					var weekIndex = 0;
					var weekdayIndex = 0;
					var currentWeek;
					var currentDay;
					var totalDaysInMonth = 31; //TODO
					
					var month = {
						startOffset : startOffset,
						totalDays : totalDaysInMonth,
						days : [],
						init : function(month, year){
							for(var day = 1; day <= totalDaysInMonth; day++){
								days.push({
									display : day
								})
							}
						}
					};
					
					for(var i = 0; i < totalCells; i++){
										
						if(weekdayIndex == 0){
							//initialise week
							currentWeek = {
								days : []
							};
						}
																		
						console.log('week %i, weekday %i, cell %i, day %i', weekIndex, weekdayIndex, i, day);
						
						//skip days until 1st of month
						if(i < startOffset || day > lastDayOfMonth){
								continue;
						}
						
						currentDay = {
							display 
						};
						
						
						day++;
						weekdayIndex++;
						
						if(weekdayIndex == 7){
							weekIndex++;
						}
					}
				};
				
				init(8,2015);
			});
		</script>
	</body>

</html>