<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>AngularJS Calendar</title>
		<meta charset="utf-8" />
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container" ng-controller="Ctrl">
			<h1>{{ calendarHeader }}</h1>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<td ng-repeat="day in days">{{ day.substr(0,2) }}</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="week in calendar.weeks track by $index">
								<td ng-repeat="day in week.days track by $index">{{ day.text }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table-condensed table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th class="text-center" style="background-color: #F5F5F5;" colspan="7">
									<a class="btn calhead"><i class="fa fa-chevron-left"></i></a>
									<a class="btn calhead">{{ calendarHeader }}</a>
									<a class="btn calhead"><i class="fa fa-chevron-right"></i></a>
								</th>
							</tr>
							<tr>
								<th ng-repeat="day in days">{{ day.substr(0,2) }}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="week in calendar.weeks track by $index">
								<td ng-repeat="day in week.days track by $index" class="">{{ day.text }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"
		charset="UTF-8"></script>
		<script type="text/javascript">
			var app = angular.module('app', []);
			app.controller('Ctrl', function($scope) {
				var self = this;
				$scope.days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
				
				var init = function(startMonth, startYear){
					var outputFormat = "MM-DD-YYYY";
					var now = moment();
					$scope.calendarHeader = now.format("MMMM YYYY");
					var start = moment({ y:startYear, M:startMonth - 1, d:1 });
					var startOffset = start.day();
					var weekCount = 6;
					var totalCells = weekCount * 7;
					var daysInMonth = new Date(startYear, startMonth, 0).getDate();
					console.log('number of days in month %i is %i', startMonth, daysInMonth);
					
					var calendar = {
						weeks : [],
						init : function(startOffset, daysInMonth){
							var cell = 0;
							var currentDay = 1;
							for(var wx = 0; wx < 6; wx++){
								var week = {
									days : []
								};
								for(var dx = 0; dx < 7; dx++){
									
									var dayText = '';
									if(cell >= startOffset && currentDay <= daysInMonth){
										dayText = currentDay.toString();
										currentDay++;
									}
									week.days.push({
										text : dayText,
										state : 'muted'
									});
									cell++;
									
								}
								this.weeks.push(week);
							}
						}	
					};
					
					calendar.init(startOffset, daysInMonth);
					$scope.calendar = calendar;
				};
				
				init(2,2016);
			});
		</script>
	</body>

</html>